[submodule "frontend"]
	path = frontend
	url = https://github.com/gsamansharma/portfolio
[submodule "backend"]
	path = backend
	url = https://github.com/gsamansharma/show-my-page
[submodule "studio-frontend"]
	path = studio-frontend
	url = https://github.com/gsamansharma/showmypage-studio
